{% extends "../app/layout.html" %}

{% block content %}
<head>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
     <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>

<div>
    <h1>Create PR</h1>
    <form method="post" id="form" >
    {% csrf_token %}
        <label for="pr_id">PR ID:</label>
        <input type="text" id="pr_id" name="pr_id"><br>

        <label for="date_created">Date Created:</label>
        <input type="date" id="date_created" name="date_created"><br>
        
        <label for="User_id">User Id:</label>
        <input type="text" readonly id="submitted_by" name="submitted_by" value="{{ user_id }}"><br>
          
        <label for="status">Status:</label>
        <input type="text" readonly id="status" name="approval_status" value="Pending"><br>
        
        {% comment %} <table id="pr_item_table">
            <tr>
            <th>Item Name</th>
            <th>Item Quantity</th>
            <th>Item Description</th>
            <th>Action</th>
            </tr>
        </table> {% endcomment %}

        {% comment %} <button onclick="addItem(event)" 
        style="background-color: #2D92E2;"
        class="btn-primary btn-md btn-block mx-auto" >Add Item</button> {% endcomment %}
        
        <div class="items-container"></div>

        <label for="numberOfFields"style=" font-family: 'Inknut Antiqua';
          font-style: normal;font-weight: 700;">Add Item</label>
          <input type="number" class="form-control add-field-input"
                  name="number_of_items"
                  id="numberOfFields" value="" 
                  style="background: rgba(123, 242, 254, 0.7);
          border-radius: 50px; border:none;">

        <button type="submit" value="Submit">Create PR</button>
    </form>
</div>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
<script>

  $('.add-field-input').on('change', function() {
    var numberOfFields = $(this).val();
    $('.items-container').empty();
    for(var i = 0; i < numberOfFields; i++) {
        $('.items-container').append(`
            <tr class="item-field">
                <td>
                    <label>Item Name</label>
                    <input type="text" name="pr_item_name" class="form-control item-name">
                </td>
                <td>
                    <label>Item Quantity</label>
                    <input type="number" name="pr_item_qty" class="form-control item-quantity">
                </td>
                <td>
                  <label>Item Description</label>
                  <input type="text" name="pr_item_description" class="form-control item-description">
              </td>
            </tr>
        `);
    }
});
    {% comment %} // Add a new PR item to the table
    function addItem(event) {
    console.log("Add Item Clicked");
    event.preventDefault();
      var table = document.getElementById("pr_item_table");
      var row = table.insertRow(-1);
      var itemNameCell = row.insertCell(0);
      var itemQtyCell = row.insertCell(1);
      var itemDescCell = row.insertCell(2);
      var actionCell = row.insertCell(3);
  
      itemNameCell.innerHTML = '<input type="text" name="pr_item_name[]">';
      itemQtyCell.innerHTML = '<input type="number" name="pr_item_qty[]">';
      itemDescCell.innerHTML = '<input type="text" name="pr_item_description[]">';
      actionCell.innerHTML = '<button onclick="deleteRow(this)">Delete</button>';
    }
   {% endcomment %}
    // Delete a PR item from the table
    function deleteRow(btn) {
      var row = btn.parentNode.parentNode;
      row.parentNode.removeChild(row);
    } 
  </script>

  <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
  <script src="{% static 'app/scripts/respond.js' %}"></script>
{% endblock %}