{% extends "../app/layout.html" %}

{% block content %}
<head>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/form.css' %}" />
     <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>

<div>
    <h1>Create Quotation </h1>
    <form method="post" id="form" >
    {% csrf_token %}
        <label for="quotation_id">Quotation ID:</label>
        <input type="text" id="quotation_id" name="quotation_id" ><br>

        <label for="date_of_expiry">Date of Expiry:</label>
        <input type="date" id="date_of_expiry" name="date_of_expiry"><br>
        
        <label for="vendor_id">Vendor Id:</label>
        <input type="text" readonly id="vendor_id" name="vendor_id" value="{{ user_id }}"><br>
          
        <label for="status">Status:</label>
        <input type="text" readonly id="status" name="approval_status" value="Pending"><br>
        
        <label for="pr_id">Pr Id:</label>
        <input type="text" readonly id="pr_id" name="pr_id" value="{{ pr_id }}"><br>

        <label for="q_payment_terms">Payment terms:</label>
        <input type="text" id="q_payment_terms" name="q_payment_terms" ><br>


        {% comment %} total_price?{% endcomment %}

        <div class="items-container"></div>
        
        <label for="price">Total Price</label>
        <input type="number" name="total_price" id="price" class="form-control total_price" readonly>


        <label for="number_of_items"style=" font-family: 'Inknut Antiqua';
          font-style: normal;font-weight: 700;">Add Item</label>
          <input type="number" class="form-control add-field-input"
                  name="number_of_items"
                  id="number_of_items" value="" 
                  >

        <button type="submit" value="Submit">Create Quotation</button>
    </form>
</div>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
<script>
  $('.add-field-input').on('change', function() {
    var number_of_items = $(this).val();
    $('.items-container').empty();
    for(var i = 0; i < number_of_items; i++) {
        $('.items-container').append(`
            <tr class="item-field">
                <td>
                    <label>Item Name</label>
                    <input type="text" name="q_item_name" class="form-control item-name">
                </td>
                <td>
                    <label>Item Quantity</label>
                    <input type="number" name="q_item_qty" class="form-control item-quantity">
                </td>a
                <td>
                    <label>Item Unit Price</label>
                    <input type="number" name="q_item_unit_price" class="form-control item-price">
                </td>
            </tr>
        `);
    }
});

$(document).on('input', '.item-price', function() {
    let totalPrice = 0;
    $('.item-field').each(function() {
        const itemPrice = parseFloat($(this).find('.item-price').val());
        var itemQuantity = parseFloat($(this).find('.item-quantity').val());
        totalPrice += itemPrice * itemQuantity;
    });
    $('.total_price').val(totalPrice);
});

  </script>

  <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
  <script src="{% static 'app/scripts/respond.js' %}"></script>
{% endblock %}