
{% extends "../app/layout.html" %}

{% block content %}
<head>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'app/content/formview.css' %}" />
     <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>

<div>
    <h1>Create PR</h1>
    <form method="post" id="form" >
    {% csrf_token %}
        <label for="pr_id">PR ID:</label>
        <input type="text" id="pr_id" class="form-control " name="pr_id"><br>

        <label for="date_created">Date Created:</label>
        <input type="date" id="date_created" class="form-control " name="date_created"><br>
        
        <label for="User_id">User Id:</label>
        <input type="text" readonly id="submitted_by" class="form-control " name="submitted_by" value="{{ user_id }}"><br>
          
        <label for="status">Status:</label>
        <input type="text" readonly id="status" class="form-control " name="approval_status" value="Pending"><br>

        <div class="items-container"></div>

        <label for="numberOfFields"style=" font-family: 'Inknut Antiqua';
          font-style: normal;font-weight: 700;">Add Item</label>
          <input type="number" class="form-control add-field-input"
                  name="number_of_items"
                  id="numberOfFields" value="" 
                 >
        <div style="display: flex; align-items: center; justify-content: center;">
            <button type="submit" value="Submit" class="btn btn-primary" style="margin-top:20px">Create PR</button>
        </div>
    </form>
</div>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
<script>

  $('.add-field-input').on('change', function() {
    var numberOfFields = $(this).val();
    $('.items-container').empty();
    for(var i = 0; i < numberOfFields; i++) {
        $('.items-container').append(`
            <tr class="item-field">
                <td>
                    <label>Item Name</label>
                    <input type="text" name="pr_item_name" class="form-control item-name">
                </td>
                <td>
                    <label>Item Quantity</label>
                    <input type="number" name="pr_item_qty" class="form-control item-quantity">
                </td>
                <td>
                  <label>Item Description</label>
                  <input type="text" name="pr_item_description" class="form-control item-description">
              </td>
            </tr>
        `);
    }
});
  </script>

  <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
  <script src="{% static 'app/scripts/respond.js' %}"></script>

{% endblock %}