{% extends "../app/layout.html" %}

{% block content %}
<head>
  {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/tableview.css' %}" />
   <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <h1> All Purchase Orders (Viewing as a Manager) </h1>
    <table>
        <tr>
          <th>PO_Id</th>
          <th>FinanceOfficerId </th>
          <th>PR_Id</th>
          <th>QuotationId</th>
          <th>Total Price</th>
          <th>Date Created</th>
          <th>PO Terms</th>
          <th>View Details</th>
        </tr>
        {% for po in po_list %}
        <tr>
          <td>{{ po.po_id }}</td>
          <td>{{ po.financeOfficerId }} </td>
          <td>{{ po.pr_id }}</td>
          <td>{{ po.quotation_id }}</td>
          <td>{{ po.total_price }}</td>
          <td>{{ po.date_created }}</td>
          <td>{{ po.po_terms }}</td>
          <td><a href="{% url 'managerviewpodetails' po.po_id %}">View Details</a></td>
          <!-- <td> <button class="view-button" data-pr_id="{{pr.pr_id}}" >View Details</button></td> -->
        </tr>
        {% endfor %}
      </table>
    </div>


{%endblock %}