{% extends "../app/layout.html" %}

{% block content %}
<head>
  {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/tableview.css' %}" />
   <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>

<table>
    <tr>
      <th>ID</th>
      <th>Submitted By</th>
      <th>Approval Status</th>
      <th>Marked By</th>
      <th>Manager Remark</th>
      <th>Date Created</th>
      <th>View</th>
    </tr>
    {% for pr in pr_list %}
    <tr>
      <td>{{ pr.pr_id }}</td>
      <td>{{ pr.submitted_by }}</td>
      <td>{{ pr.approval_status }}</td>
      <td>{{ pr.marked_by }}</td>
      <td>{{ pr.manager_remark }}</td>
      <td>{{ pr.date_created }}</td>
      <td><a href="{% url 'manager_approve_pr_details' pr.pr_id %}">View Details</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

  <!-- <script>
    var buttons = document.getElementsByClassName("view-button");
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].onclick = function() {
        var pr_id = this.getAttribute("data-pr_id");
        window.location.href = '/PRdetails/' + pr_id;
      }
    }
  </script>
   -->
