{% extends "../app/layout.html" %}

{% block content %}
<head>
  {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/detailsview.css' %}" />
   <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Quotation Details</h1>

<div>

    <table>
        <tr>
          <th>Quotation ID</th>
          <td>{{ q.quotation_id }}</td>
        </tr>
        <tr>
          <th>Pr ID</th>
          <td>{{ q.pr_id }}</td>
        </tr>
        <tr>
          <th>Approval Status</th>
          <td>{{ q.approval_status }}</td>
        </tr>
        <tr>
          <th>Checked By</th>
          <td>{{ q.checked_by }}</td>
        </tr>
        <tr>
          <th>Total Price</th>
          <td>{{ q.total_price }}</td>
        </tr>
        <tr>
          <th>Date of Expiry</th>
          <td>{{ q.date_of_expiry }}</td>
        </tr>
        <tr>
          <th>Payment Terms: </th>
          <td>{{ q.q_payment_terms }} </td>
      </table>
      <table>
          <tr>
            <th>Item Id</th>
            <th>Name</th>
            <th>Unit Price </th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          {% for item in q_items %}
          <tr>
            <td>{{ item.quotation_id }}</td>
            <td>{{ item.q_item_name }}</td>
            <td>{{ item.q_item_unit_price}}</td>
            <td>{{ item.q_item_qty }}</td>
            <td>{{ item.q_item_price }} </td>
          </tr>
          {% endfor %}
        </table>
</div>

<div>
    <div>
        <p><label for="remark">Add Remarks:</label></p>

        <textarea id="remark" 
        name="remark" 
        rows="6" cols="50" 
        placeholder="Type Remarks here" 
        style="resize: none; padding: 5px; border: 1px solid green">
       
        </textarea>
    </div>

    <div style="float: right; padding-top: 10px; padding-bottom: 20px;">
        <button id="approve"
        onclick="updateStatus('Approved', '{{ q.quotation_id }}')"
        style=" background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;">Approve</button>

        <button id="reject"
        onclick="updateStatus('Rejected', '{{ q.quotation_id }}')"
        style=" background-color: #d13f3f; /* Red */
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;">Reject</button>
    </div>
    
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="banner" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       Action Completed!
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="window.location='{% url 'dashboard' %}';">Okay</button>
    </div>
    </div>
</div>
</div>
<script>
    function updateStatus(status_type, quotation_id){
        var remark= document.getElementById("remark").value;
        console.log(status_type)
        console.log(remark)
        $.ajax({
            type: 'POST',
            url: '/update_quotation/',
          data: {
              "quotation_id": quotation_id,
              "status_type": status_type,
              "remark": remark
              },
          dataType: "json",
          success: function (data) {
                $('#exampleModal').modal('show');
          },
          failure: function () {
              alert("failure");
          }
          });
    }

</script>

{% endblock %}