{% extends "./layout.html" %} {% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dashboard.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<div class="main">
    <div class="headers">
        <div class="topnav">
            <a class="active" href="{% url 'dashboard' %}">Home</a>
            {% if is_manager %}
                <a href="{% url 'managerviewpr' %}">View PR</a>
                <a href="{% url 'manager_approve_pr' %}">Approve PR</a>
                <a href="{% url 'managerviewpo' %}">View PO</a>
            
            {% elif is_employee %}
            <a href="{% url 'create_pr' %}">Create PR</a>
            <a href="{% url 'employeeviewprhistory' %}">My PR History</a>

            {% elif is_vendor %} 
            <a href="{%url 'vendorviewpr' %}" >View OPEN PRs </a>
            <a href="{%url 'vendorviewqhistory' %}" > MY Quotation History </a>
            
            {% elif is_purchaser %}
            <a href="{% url 'purchaserviewpr' %}"> View PR </a>
            <a href="{% url 'purchaserviewq' %}"> View Quotation Submissions </a>
            <a href="{% url 'purchaserapproveq' %}"> Review Quotation </a>
            
            {% elif is_finance_officer %}
            <a href="{% url 'financeofficerviewpr' %}"> View PR </a>
            <a href="{% url 'financeofficerviewq' %}"> View Approved Quotations </a>
            <a href="{% url 'financeofficerviewpohistory' %}"> View MY Purchase Orders </a>
            
            {% endif %}
        </div>
        
    </div>

    <div class="body text-center" style="margin-top: 50px;">
        {% if is_manager %}
        <h3>ID: <strong>{{ mydata.manager_id }}</strong></h3>
        <h3>Name: <strong>{{ mydata.manager_name }}</strong></h3>
        <h3>Contact: <strong>{{ mydata.manager_contact }}</strong></h3>
        {% elif is_employee %}
        <h3>ID: <strong>{{ mydata.employee_id }}</strong></h3>
        <h3>Name: <strong>{{ mydata.employee_name }}</strong></h3>
        <h3>Contact: <strong>{{ mydata.employee_contact }}</strong></h3>
        {% elif is_vendor %} 
        <h3>ID: <strong>{{ mydata.vendor_id }}</strong></h3>
        <h3>Name: <strong>{{ mydata.vendor_name }}</strong></h3>
        <h3>Contact: <strong>{{ mydata.vendor_contact }}</strong></h3>
        {% elif is_purchaser %}
        <h3>ID: <strong>{{ mydata.purchaser_id }}</strong></h3>
        <h3>Name: <strong>{{ mydata.purchaser_name }}</strong></h3>
        <h3>Contact: <strong>{{ mydata.purchaser_contact }}</strong></h3>
        {% elif is_finance_officer %}
        <h3>ID: <strong>{{ mydata.financeofficer_id }}</strong></h3>
        <h3>Name: <strong>{{ mydata.financeofficer_name }}</strong></h3>
        <h3>Contact: <strong>{{ mydata.financeofficer_contact }}</strong></h3>
        {% endif %} 
    </div>

</div>

{% endblock %}