{% extends "./layout.html" %} {% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dashboard.css' %}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<div class="main">
    <div class="headers">
        <div class="topnav">
            <a class="active" href="{% url 'dashboard' %}">Home</a>
            {% if is_manager %}
                <a href="{% url 'managerviewpr' %}">View PR</a>
                <a href="{% url 'manager_approve_pr' %}">Approve PR</a>
                <a href="">View PO</a>
            
            {% elif is_employee %}
            <a href="{% url 'create_pr' %}">Create PR</a>
            <a href="{% url 'employeeviewprhistory' %}">My PR History</a>

            {% elif is_vendor %} 
            <a href="{%url 'vendorviewpr' %}" >View OPEN PRs </a>
            <a href="{%url 'vendorviewqhistory' %}" > MY Quotation History </a>
            
            {% elif is_purchaser %}
            <a href="{% url 'purchaserviewpr' %}"> View PR </a>
            <a href="{% url 'purchaserviewq' %}"> View Quotation Submissions </a>
            
            {% elif is_finance_officer %}
            <a href="{% url 'financeofficerviewpr' %}"> View PR </a>
            <a href="{% url 'financeofficerviewq' %}"> View Quotation Submissions </a>
            {% endif %}
        </div>
        
    </div>

    <div class="body"></div>
</div>

{% endblock %}